@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SFUIDisplay";
    src: url("../../src/fonts/SFUIDisplay-Regular.otf") format("opentype");
}

@layer base {
    .extension-size {
        width: 400px;
        height: 300px;
    }
}
