@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SFUIDisplay";
    src: url("../../dist/fonts/SFUIDisplay-Regular.otf") format("opentype");
}

@layer base {
    .extension-size {
        width: 303px;
        height: 222px;
    }
}
